<!-- if success is there , then flash message  -->
 <!-- we have to also check , success length greater than zero 
 since it is a array  -->
<!-- <% if(success &&success.length){ %>
    <div class="alert alert-successs alert-dismissible fade show col-6 offset-3" role="alert">
        
    <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" 
        aria-label="Close"></button>
</div>

<% } %> -->

<% if (success && success.length) { %>
  <% success.forEach(msg => { %>
    <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
      <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% }) %>
<% } %>

<% if (error && error.length) { %>
  <% error.forEach(msg => { %>
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
      <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% }) %>
<% } %>

