<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EiraStay</title>
</head>
<body>
    <h1> EiraStay</h1>
    <div class="container">
        <%- body %>  
        <!-- donot use -%>   -->
    </div>
</body>
</html>